body{
    background-color: black;
}
/* HEADER */

.header{
    width: 100%;
    height: 250px;
    padding: 10px;
    background-color: white;
    border: solid black 10px;
    
    text-align: center;
}

.logo img{
    width: 15%;
    padding: 5px;
    margin: 25px 30px;
}

/* NAVBAR */

.navbar-a{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;

    /* position: fixed; */
}

.navbar-a ul{
    width: 100%;
    height: 100%;
    padding-right: 40px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
}

.navbar-a ul li{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-a ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar-a ul li:hover{
    background-color: grey;
}

/* MAIN */

main{
    padding: 0 5px 5px 0;
    background-color: black;
}

.carousel-item{
    width: 100%;
}

/* SECTION WE ARE */

.nosotros{
    width: 100%;
    height: 700px;
    padding: 0 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: black;
    color: rgba(240, 248, 255, 0.796);
    font-family: 'PT Serif', serif;
}

.nosotros p{
    width: 75%;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
}

.nosotros img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 0;
    width: 40%;
}

/* SECTION SERVICES */

.servicios{
    width: 100%;
    height: 700px;
    border-top: solid rgba(240, 248, 255, 0.796) 4px;

    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.servicios article{
    width: 270px;
    height: 500px;
    margin: 50px;
    padding: 35px;
    border-radius: 10px;

    background-color: grey;

    display: flex;
    flex-direction: column;
}

.servicios article *{
    width: 100%;
    height: 35%;

    font-family: 'PT Serif', serif;
    font-weight: 550;
}

/* FOOTER */

.contact{
    height: 200px;
    padding: 3px 0 5px;

    display: grid;
    grid-template-columns: repeat(4, 33.3%);

    background-color: black;
}

.contact div{
    width: 99%;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 15px;

    padding: 30px;
    font-family: 'PT Serif', serif;
    font-size: 1.1em;
    font-weight: 700;

    color: rgb(71, 66, 66);
}

@media (max-width: 575px) {
    .logo img{
        width: 55%;
        padding: 5px;
        margin: 25px 30px;
    }

    .nosotros{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1000px;
        margin: 0;
        padding: 0 0 0 40px;
    }

    .nosotros img{
        text-align: center;
        margin-top: 50px;
    }

    .servicios{
        display: flex;
        flex-direction: column;

        height: 1000px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact{
        height: 700px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact div{
        margin-top: 20px;
        width: 85%;
    }
}